.btn {
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
  display: inline-block;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &--primary {
    color: white;
    background-color: $color-primary;
  }
}
