.card {
  padding: 3rem;
  background-color: white;
  text-align: center;
  border-radius: 1rem;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-1 {
      color: #5f5f5f;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    &-2 {
      color: #c0c0c0;
      font-size: 1rem;
    }
  }
}
