*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

img {
  max-width: 100%;
  max-height: 100%; }

body {
  font-size: 1.6rem;
  font-family: sans-serif, Arial, Helvetica, sans-serif; }

.btn {
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
  display: inline-block; }
  .btn:hover {
    opacity: 0.8;
    cursor: pointer; }
  .btn--primary {
    color: white;
    background-color: #5469f1; }

.topbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #5469f1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2); }
  .topbar__center {
    width: 100%;
    text-align: center; }
  .topbar__title {
    font-size: 1.6rem; }
  .topbar__right {
    margin-left: auto; }
  .topbar__profile-btn {
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    border: none; }
  .topbar__profile-photo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%; }

.question {
  height: 80vh;
  position: relative; }
  .question__status {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .question__progress {
    color: red;
    font-size: 1.3rem; }
  .question__time {
    font-size: 1.3rem;
    font-weight: bold; }
  .question__close {
    background-color: #5469f1;
    color: white;
    border: none;
    outline: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    text-decoration: none; }
  .question__title {
    line-height: 1.5;
    font-size: 1.8rem; }
  .question__image {
    object-fit: contain; }
    .question__image-box {
      width: 100%;
      margin: 1rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15rem;
      border-radius: 1rem;
      overflow: hidden;
      padding: 0.5rem;
      background-color: white; }
  .question__answers {
    list-style-type: disc;
    width: 100%; }
    .question__answers-item {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #f3f3f3;
      padding: 1.5rem 1rem;
      border-radius: 0.5rem;
      transition: all 0.2s ease-out; }
      .question__answers-item:not(:last-child) {
        margin-bottom: 1rem; }
      .question__answers-item:hover {
        cursor: pointer;
        background-color: #5469f1;
        color: white; }
      .question__answers-item--active {
        background-color: #5469f1;
        color: white; }
    .question__answers-text {
      width: 100%; }
  .question__button {
    margin-top: 2rem;
    flex: 1; }
    .question__button:hover {
      opacity: 1; }
    .question__button:not(:last-child) {
      margin-right: 1rem; }
    .question__button-group {
      display: flex;
      width: 100%; }

.card {
  padding: 3rem;
  background-color: white;
  text-align: center;
  border-radius: 1rem; }
  .card__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .card__text-1 {
      color: #5f5f5f;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 2rem; }
    .card__text-2 {
      color: #c0c0c0;
      font-size: 1rem; }

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: white; }
  .bottomBar__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 4.5rem;
    max-width: 60rem;
    margin: 0 auto; }
  .bottomBar__link {
    color: #bababa;
    transition: all 0.2s ease-out; }
    .bottomBar__link:hover {
      cursor: pointer;
      color: #5469f1; }
    .bottomBar__link--active {
      color: #5469f1; }

.main {
  padding: 1rem;
  max-width: 60rem;
  margin: 5rem auto; }

.flex {
  display: flex; }
  .flex-cl {
    flex-direction: column; }

.home__title {
  color: #5f5f5f;
  font-weight: 600;
  display: none;
  font-size: 1.4rem; }

.home__menu {
  margin-top: 2rem; }
  .home__menu-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .home__menu-item:not(:last-child) {
    margin-right: 1rem; }
  .home__menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    height: 10rem;
    transition: all 0.2s ease-out;
    opacity: 0.6; }
    .home__menu-link > span {
      margin-top: 1rem;
      font-weight: bold;
      color: #5f5f5f;
      font-size: 1.3rem; }
    .home__menu-link > i {
      font-size: 3rem;
      color: #5f5f5f; }
    .home__menu-link--opened {
      opacity: 1; }
      .home__menu-link--opened:hover {
        cursor: pointer;
        background-color: #5469f1; }
        .home__menu-link--opened:hover span,
        .home__menu-link--opened:hover i {
          color: white; }

.quiz {
  overflow-y: scroll; }

.results__correct {
  text-align: center;
  font-size: 5rem;
  color: #5469f1;
  margin: 2rem 0; }

.results__message {
  font-size: 3rem;
  color: white;
  display: inline-block;
  border-radius: 1rem; }
  .results__message-box {
    text-align: center; }
  .results__message--pass {
    background-color: green;
    padding: 1rem; }
  .results__message--fail {
    background-color: red;
    padding: 1rem; }
